.taskContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(50% - 5px);
    max-height: 70px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    &.open {
        max-height: 300px;
    }

    .task {
        border: 1px solid var(--white);
        border-radius: 5px;
        padding: 15px;
        display: flex;
        gap: 20px;
        min-height: 70px;

        &.uncompletedTask {
            border-color: var(--red);
        }

        .taskDetails {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: calc(100% - 30px);

            .taskTitle {
                width: 50%;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        svg {
            max-width: 30px;
            width: 100%;
            cursor: pointer;
            transition: transform 0.2s ease-in-out;

            path {
                fill: var(--white);
            }

            &.open {
                transform: rotate(180deg);
            }
        }

        button {
            background: var(--green);
            padding: 10px;
            border: none;
            border-radius: 5px;
            color: var(--white);
            cursor: pointer;
        }

        &.activeTask {
            border-color: var(--green);

            button {
                background: var(--red);
            }
        }
    }

    .timeEntries {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .timeEntry {
            border: 1px solid var(--red);
            border-radius: 5px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &.completed {
                border-color: var(--green);
                background: var(--green);
            }
        }
    }
}