.exportModalContainer {
    position: fixed;
    height: 100dvh;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .exportModal {
        padding: 20px;
        background: var(--black);
        border-radius: 10px;
        width: 100%;
        max-width: 360px;

        .exportInner {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px 0;
            
            .categoryNumbers {
                display: flex;
                justify-content: space-between;
                gap: 5px;
                font-size: 14px;
    
                &.withDivider {
                    padding-bottom: 10px;
                    border-bottom: 2px solid var(--white);
                }
    
                &.total {
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }

        .close {
            background: var(--red);
            border: none;
            border-radius: 5px;
            padding: 10px;
            color: var(--white);
            cursor: pointer;
            width: 100%;
            font-weight: bold;
        }
    }
}