.navigationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 80px;

    .navButtons {

        button {
            background: var(--green);
            border: 1px solid var(--green);
            padding: 10px 15px;
            color: var(--black);
            cursor: pointer;
            font-weight: bold;
            border-radius: 5px;
        }
    }
}