.page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  min-height: 100dvh;

  .actionsContainer {
    display: flex;
    gap: 10px;
    justify-content: space-between;

    button {
      background: transparent;
      border: var(--white) 1px solid;
      border-radius: 5px;
      padding: 10px 15px;
      color: var(--white);
      cursor: pointer;
      font-weight: bold;

      &.selected {
        background: var(--green);
        border-color: var(--green);
      }

      &.addTaskButton {
        background: var(--green);
        border-color: var(--green);
      }
    }

    .categories,
    .actionButtonsContainer {
      display: flex;
      gap: 5px;
    }
  }

  .allTaskContainer {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}