.signupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100dvh - 120px);

    .innerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        max-width: 400px;
        background: var(--white);
        padding: 40px;
        border-radius: 10px;

        .errorContainer {
            display: flex;
            width: 100%;
            justify-content: center;
            background: var(--red);
            color: var(--white);
            padding: 10px;
            border-radius: 5px;
        }

        .inputContainer {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;

            label {
                font-weight: 600;
                color: var(--black);
            }
    
            input {
                padding: 10px;
                border: 2px solid var(--black);
                border-radius: 5px;
                color: var(--black);
                width: 100%;
            }

            &.error {

                label {
                    color: var(--red);
                }
            }
        }
    
        button {
            font-size: 16px;
            font-weight: 600;
            border: 1px solid var(--green);
            border-radius: 5px;
            padding: 10px 20px;
            background: var(--green);
            color: var(--white);
            cursor: pointer;
            width: 100%;

            &:disabled {
                background: var(--grey);
                border-color: var(--grey);
                cursor: not-allowed;
            }
        }

        .orDivider {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            width: 100%;

            span {
                height: 2px;
                background: var(--black);
                width: 100%;
            }
        }

        .login {
            font-weight: 600;
            color: var(--green);
        }

        .successContainer {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            color: var(--black);
            gap: 10px;

            a {
                font-size: 16px;
                font-weight: 600;
                border: 1px solid var(--green);
                border-radius: 5px;
                padding: 10px 20px;
                background: var(--green);
                color: var(--black);
                cursor: pointer;
            }
        }
    }
}