.addModalContainer {
    position: fixed;
    height: 100dvh;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .addModal {
        padding: 20px;
        background: var(--black);
        border-radius: 10px;
        width: 100%;
        max-width: 360px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        input {
            padding: 5px;
            border: 1px solid var(--white);
            border-radius: 5px;
            color: var(--black);
            width: 100%;
        }

        .categoriesContainer {
            display: flex;
            gap: 10px;

            button {
                flex: 1;
                border: 1px solid var(--white);
                border-radius: 5px;
                padding: 10px;
                background: none;
                color: var(--white);
                cursor: pointer;
            
                &.activeCategory {
                    border-color: var(--green);
                    background: var(--green);
                }
            }
        }

        .addTask {
            background: var(--green);
            border: none;
            border-radius: 5px;
            padding: 10px;
            color: var(--white);
            cursor: pointer;
            flex: 1;
        }

        .close {
            background: var(--red);
            border: none;
            border-radius: 5px;
            padding: 10px;
            color: var(--white);
            cursor: pointer;
            flex: 1;
        }
    }
}