.addProjectModalContainer {
    position: fixed;
    height: 100dvh;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .addProjectModal {
        padding: 20px;
        background: var(--white);
        border-radius: 10px;
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .inputContainer {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
                font-weight: 600;
            }

            input {
                padding: 10px;
                border: 2px solid var(--black);
                border-radius: 5px;
                color: var(--black);
                width: 100%;
            }
        }

        .categoriesContainer {
            display: flex;
            gap: 10px;

            button {
                flex: 1;
                border: 2px solid var(--black);
                border-radius: 5px;
                padding: 10px;
                background: none;
                color: var(--black);
                cursor: pointer;
                font-weight: 600;
            
                &.activeCategory {
                    border-color: var(--green);
                    background: var(--green);
                    color: var(--white);
                }
            }
        }

        .addTask {
            background: var(--green);
            border: none;
            border-radius: 5px;
            padding: 10px;
            color: var(--white);
            cursor: pointer;
            flex: 1;
            font-weight: 600;
        }

        .close {
            background: var(--red);
            border: none;
            border-radius: 5px;
            padding: 10px;
            color: var(--white);
            cursor: pointer;
            flex: 1;
            font-weight: 600;
        }
    }
}